<!--The content below is only a placeholder and can be replaced.-->
<!-- Header -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><h4><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2000px-Instagram_logo_2016.svg.png" alt="W3Schools.com">&nbsp;Instagram Map Generator</h4></a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a><button type="button" class="btn btn-default" (click)="getInstagramMedia()">Get Data</button></a></li>
    </ul>
  </div>
</nav>
<div class="col-lg-11 col-centered">
<div style="text-align:center">
  <div id="regions_div"></div>
</div>
</div>




